<!-- Sharing data between controller -->
<!doctype html>
<html ng-app="myApp">
  <head>
    <title>My Angular App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css">
    <script src="controller.js"></script>
  </head>
  <body>
    <form ng-app="myApp">
      <fieldset>
        <legend>Fieldset Legend</legend>
        <div ng-controller='FirstCtrl'>
          <label>Input For First Controller
            <input type="text" placeholder="Inputs and other form elements go inside" ng-model="my_variable.message">
             <h1>{{my_variable.message}}</h1>
          </label>
        </div>
        <div ng-controller="SecondCtrl">
          <label>Input For Second Controller
            <input type="text" placeholder="Inputs and other form elements go inside..." ng-model="my_variable.message">
            <h1>{{reversedMessage(my_variable.message)}}</h1>
          </label>
        </div>
        <div ng-controller="ThirdCtrl">
          <label>Input For third Controller
            <input type="text" placeholder="Inputs and other form elements go inside..." ng-model="my_variable.message">
            <h1> {{my_variable.message}}</h1>
          </label>
        </div>
      </fieldset>
    </form>

    <div ng-controller="MyController">
     <h1> {{my_variable.message}}</h1>
   </div>
  </body>
</html>


